@font-face {
  font-family: "Main font";
  src: url("./fonts/main-font.ttf") format("truetype");
}

@font-face {
  font-family: "Main font";
  src: url("./fonts/main-font.ttf") format("truetype");
}

@font-face {
  font-family: "Main font";
  src: url("./fonts/main-font.ttf") format("truetype");
}
